@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&family=Inter:wght@400;600&display=swap');

@import "tailwindcss";

@theme  {
  --color-primary: #4F46E5;
  /* --color-background: #4F46E5; */
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
